<div class="main-card mb-3 card" style="height: 100%;">
  <div class="card-body"  >
    <div ><h1 class="card-title" style="font-size: 200%; " >Ajout d'un employer</h1></div>
    <h3 class="card-title">Information Personnelle</h3>
      <form class="">
          <div class="form-row">
              <div class="col-md-6">
                  <div class="position-relative form-group">
                    <label for="" class="">
                      Nom
                    </label>
                    <input name="" id="" placeholder="écrire le nom" type="" class="form-control"></div>
              </div>
              <div class="col-md-4">
                  <div class="position-relative form-group"><label for="examplePassword11" class="">Prénom</label><input name="password" id="examplePassword11" placeholder="ecire le prénom" type="" class="form-control"></div>
              </div>
              <div class="col-md-2">
                <div class="position-relative form-group">
                  <label  class="">
                    Matricule CNI
                  </label>
                  <input name="zip"  type="text" class="form-control"></div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
            <div class="position-relative form-group">
              <label for="exampleAddress" class="">
                Addresse
              </label>
              <input name="address" id="exampleAddress" placeholder="ex: Douala" type="text" class="form-control">
            </div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group"><label for="examplePassword11" class="">Nationalité</label><input name="" id="examplePassword11" placeholder="" type="" class="form-control"></div>
            </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
          <div class="position-relative form-group">
            <label for="exampleAddress" class="">
              Numéro
            </label>
            <input name="address" id="exampleAddress" placeholder="69472..." type="tel" class="form-control">
          </div>
          </div>
          <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="examplePassword11" class="">
                  Sexe
                </label>
                <input name="" id="examplePassword11" placeholder="" type="text" class="form-control"></div>
          </div>
      </div>

          <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label class="">
                    Date de naissance
                  </label>
                  <input type="text" class="form-control" data-toggle="datepicker-year" placeholder="ex:20/02/1999"></div>
            </div>

            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="exampleState" class="">
                    Lieu de naissance
                  </label>
                  <input name="state" id="exampleState" type="text" class="form-control" placeholder="Mbouda"></div>
            </div>
        </div>
          <!-- <div class="position-relative form-group">
            <label for="exampleAddress2" class="">
              Address 2
            </label>
            <input name="address2" id="exampleAddress2" placeholder="Apartment, studio, or floor" type="text" class="form-control">
          </div> -->
          <div class="form-row">
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="" class="">
                   Statut Matrimonial
                  </label>
                  <input name="" id="" placeholder="ex:marié" type="" class="form-control"></div>
            </div>
            <div class="col-md-6">
                <div class="position-relative form-group">
                  <label for="examplePassword11" class="">
                    Nombre d'enfant
                  </label>
                  <input name="" id="" placeholder="ex:2" type="number" class="form-control">
                </div>
            </div>
        </div>
          <!-- <div class="form-row">
              <div class="col-md-6">
                  <div class="position-relative form-group">
                    <label for="exampleCity" class="">
                      City
                    </label>
                    <input name="city" id="exampleCity" type="text" class="form-control"></div>
              </div>
              <div class="col-md-4">
                  <div class="position-relative form-group">
                    <label for="exampleState" class="">
                      State
                    </label>
                    <input name="state" id="exampleState" type="text" class="form-control"></div>
              </div>
              <div class="col-md-2">
                  <div class="position-relative form-group">
                    <label for="exampleZip" class="">
                      Zip
                    </label>
                    <input name="zip" id="exampleZip" type="text" class="form-control"></div>
              </div>
          </div> -->

          <div class="position-relative form-check"><input name="check" id="exampleCheck" type="checkbox" class="form-check-input"><label for="exampleCheck" class="form-check-label">Check me out</label></div>
          <button class="mt-2 btn btn-primary">Sign in</button>
      </form>
  </div>
</div>
