<h2 mat-dialog-title class="card-title" style="font-size: 200%; color: rgb(81, 81, 230); "  > Edition d'une sanction </h2>
<hr>
<div class="mat-dialog-content" [formGroup]="formSanction">
<div class="main-card " >
  <div class="card-body">
      <!-- <form class="mat-typography"  > -->
        <div  class="form-row">
              <div class="col-md-12">
                  <div class="position-relative form-group">
                    <label for="">Nom & Prénom</label>
                    <select name="select" id="exampleSelect" class="" formControlName="id_Employer" style="width: 100%; height: 2.2rem; border-color: rgb(218, 215, 215); border-radius: 5px;"  >
                      <option value= {{item?.id}} *ngFor="let item of employers" > {{item?.nom}} {{item?.prenom}}</option>
                  </select>
                  <!-- <span *ngIf=" (submitted || formContrat.controls.id_Employer.touched) && formContrat.controls.id_Employer.errors "style="color:red">le nom l'employé est requis  </span> -->
                  </div>
              </div>
            </div>
          <div class="form-row">
            <div class="col-md-12">
              <div class="position-relative form-group">
                <label  class="card-title" for="">type de Sanction</label>
                <select name="select" placeholder=""  id="exampleSelect" type="text" class="" formControlName="type_sanction" style="width: 100%; height: 2.4rem; border-color: rgb(218, 215, 215); border-radius: 5px;">
                  <option value=""></option>
                  <option value="CDI">Avertissement</option>
                  <option value="CDD">Mise à pied</option>
                  <option value="CTT">Mutation</option>
                  <option value="ALTERNANCE">Rétrogradation</option>
                  <option value="LICENCIEMENT"> Licenciement</option>

                </select>
              </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-12">
          <div class="position-relative form-group">
            <label for="">  date de debut de la sanction <span style="color: red;">*</span> </label>
            <input  name="" id="" placeholder="" type="date" class="form-control" formControlName="debut_sanction">
            <!-- <span *ngIf=" (submitted || formContrat.controls.date_embauche.touched) && formContrat.controls.date_embauche.errors "   style="color:red">  la date d'embauche de l'employé est requis  </span> -->
          </div>
          </div>
        </div>

          <div class="form-row">
            <div class="col-md-12">
                <div class="position-relative form-group">
                  <label for="">date de fin de la sanction<span style="color: red;">*</span></label>
                  <input type="date" class="form-control"  placeholder="" formControlName="fin_sanction">
                  <!-- <span *ngIf=" (submitted || formContrat.controls.debut_periode_essaie.touched) && formContrat.controls.debut_periode_essaie.errors "   style="color:red">  cette date est requise  </span> -->
                </div>

            </div>

          <div class="form-row">
            <div class="col-md-12">
              <div class="position-relative form-group">
              <label for="">Description<span style="color: red;">*</span>
              </label>
                <textarea name="address" style=" width: 25rem;" id="message" placeholder="entrer les details de la sanction ..." class="form-control" formControlName="description"></textarea>
                <!-- <span *ngIf=" (submitted || formContrat.controls.poste.touched) && formContrat.controls.poste.errors "   style="color:red">  le poste est requis  </span> -->
              </div>
              </div>
<div *ngIf="isLoading" class="body-block-example-2 d-none" style="cursor: default;">
<div class="loader">
<div class="ball-pulse-sync">
<div class="bg-success"></div>
<div class="bg-success"></div>
<div class="bg-success"></div>
</div>
</div>
</div>
      <!-- </form> -->
  </div>
</div>


</div>
<mat-dialog-actions align="end">
  <button mat-dialog-close class="mb-2 mr-2 btn-icon btn btn-success" (click)=" addSanction()" class="btn btn-success mr-2 mb-2 block-page-btn-example-2">
    Enregistrement
    </button>
  <button class="mb-2 mr-2 btn-icon btn btn-danger" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
